#about{
    height: 70vh;
}

#about div{
    height: 100%;
    width: 60%;
    position: relative;
    left: 0;
    background-color: white;
    color: black;
    margin-top: 5%;
    border-radius: 12px;
}

.light-mode #about div{
    background-color: black;
    color: white;
}

#about div p{
    font-size: 1.8rem;
    padding: 5%;
    text-align: left;
    position: absolute;
    top: 8%;
}

#about div h2 {
    font-size: 2.5rem;
    position: absolute;
    top: 2%;
    left: 35%;
    text-align: center;
}

@media (max-width: 1024px){
    #about {
    height: 120vh;
    margin-bottom: 5%;
    }
}

@media (max-width: 768px){
    #about {
    margin-bottom: 5%;
    }

    #about div{
        width: 100%;
        height: 100%;
    }

    #about div p{
        font-size: 1.5rem;
    }
    
    #about div h2{
        font-size: 2rem;
    }
}
